notebook
ipython
matplotlib
numpy
pandas
tensorboard
tensorflow
tensorflow-hub
tensorflow-metal
torch
torchvision
pydot
pydotplus
py-learning-toolbox@git+https://github.com/bkubick/py-learning-toolbox.git
scikit-learn